includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: max
    paths:
        - src
    tmpDir: .phpstan.cache
    ignoreErrors:
        - identifier: missingType.generics
          path: src/Models

